@import url('https://fonts.googleapis.com/css2?family=Anybody:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anybody:wght@300;500&display=swap');
*{
    --fuente:'Anybody', sans-serif;
    --fuenteBold: 'Anybody', sans-serif;
}
body{
    background: var(--Gradient-Purple, linear-gradient(180deg, #AD4881 53.67%, #EB9ECA 99.94%));
    margin: 0;
    padding: 0;
    min-height: 100vh;
    animation: transitionIn 2s;
}
@keyframes transitionIn{
    from{
        opacity: 0;
        transform: rotateX(-10deg);
    }
    to{
        opacity: 1;
        transform: rotateX(0);
    }
}
header{
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(15px);
    width: 90%;
    padding: 10px 10px;
    height: 60px;
}
nav .options{
    display: none;
}
.pop-up-navegacion{
    /*width: 270px;
    height: 560px;*/
    width: 60%;
    height: 330px;
    background-color: #AD4881;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    z-index: 4;
}
.pop-up-navegacion .close-section{
    display: flex;
    justify-content: right;
    padding-right: 1rem;
    margin-top: 15px;
}
.pop-up-navegacion .option-sections{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 25px;
    color: white;
    font-family: var(--fuente);
    padding-right: 25px;
    line-height: 50px;
}
.pop-up-navegacion .option-sections a{
    text-decoration: none;
    color: white;
}

.hero-section{
    height: 320px;
    margin-left: 0.5rem;
}
.hero-section div h1{
    font-family: var(--fuenteBold);
    color: #FFF;
    text-shadow: -4.863280773162842px 0px 0px #AD4881;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    z-index: 1;
}
.hero-section div img{
    z-index: 2;
    width: 320px;
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.hero-section div h2{
    font-family: var(--fuenteBold);
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: rgba( 255, 255, 255, 0 );; /* Color de relleno del texto */
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
    -webkit-text-stroke: 0.1px white; /* Ancho y color del borde del texto (prefijo -webkit- para compatibilidad con algunos navegadores) */
    text-stroke: 1px white;
    position: absolute;
    top: 90px;
    z-index: 3;
}
.hero-section .cards-male{
    display: none;
}
.collection-class{
    background-image: url(./img/blond-woman.svg); 
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    display: grid;
    place-content: center;
    gap: 2.5rem;
}
.collection-class h1{
    color: rgba( 255, 255, 255, 0 );; /* Color de relleno del texto */
    -webkit-text-stroke: 1px #AD4881; /* Ancho y color del borde del texto (prefijo -webkit- para compatibilidad con algunos navegadores) */
    font-family: var(--fuenteBold);
    font-size: 2rem;
    transform: rotate(-20deg);
}
.collection-class a{
    text-align: center;
    color: white;
    text-decoration: none;
    font-family: var(--fuente);
    display: grid;
    place-content: center;
    height: 3rem;
    background-color: #AD4881;
    font-size: 1rem;
}
.collection-class a:hover{
    background-color: white;
    color: #AD4881;
}
.slider {
    width: 100%;
    height: auto;
    margin: auto;
    overflow: hidden;
}
.slider .slider-track{
    display: flex;
    animation: scroll 1000s linear infinite;
    -webkit-animation: scroll 1000s linear infinite;
    width: calc(2916px * 6);
}
@keyframes scroll{
    0%{
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100%{
        -webkit-transform: translateX(calc(2916px * 3));
        transform: translateX(calc(-2916px * 3));
    }
}
.products-cards{
    width: 100vw;
    height: 650px;
    display: flex;
    justify-content: center;
    gap: 15px;
}
.swiper-slide{
    display:flex;
    flex-direction: column;
    width:250px;
    height: 600px;
    background-color: #EB9ECA;
    /* background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(15px);  */
    text-align: center;
    color: white;
}
.swiper-slide img{
    height: 75%;
    object-fit: cover;
    width: 100%;
    align-self: center;
}
.swiper_slide #p{
    margin: 0px;
    font-size: 30px;
    font-family: var(--fuente);
}
.swiper-slide p{
    font-family: var(--fuente);
}
.swiper-slide button{
    background: #AD4881;
    border: none;
    width:90%;
    height: 10%;
    align-self: center;
    margin-bottom: 10px;
    color: white;
    font-size: 1.5rem;
}
.swiper-slide button:hover{
    background-color: white;
    color: #AD4881;
    cursor: pointer;
}
.categorias{
    height: 1909px;
}
.categorias h1{
    text-align: start;
    margin-left: 1rem;
    font-family: var(--fuenteBold);
    color: white;
    font-size: 3rem;
}
.categorias .categorias-grid{
    display: grid;
    grid-template-rows: repeat(4,1fr);
    grid-gap: 30px;
    justify-items: center;
}
.categorias .categorias-grid .categoria{
    background-color: black;
    width: 90%;
    height: 400px;
    /* background-position: center;*/
    background-size: cover;
    background-repeat: no-repeat;
}
footer{
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 23px;
}
footer img{
    width: 10rem;
}
footer .info-footer{
    display: flex;
    flex-direction: column;
    gap: 46px;
}
footer a{
    text-decoration: none;
    color: white;
    font-family: var(--fuente);
}
footer a:hover{
    color: #AD4881;
}
